// Colors
$primary-color: #298C3A;
$secondary-color: #FFD628;
$tertiary-color: #404752;

$font-color: #000000;
$font-color-accent: #706F73;

$bg-color: white;
$black: #000000;
$white: #ffffff;

// Fonts
$base-font-size: 12px;
$font-family: 'Montserrat', sans-serif;
$stylized-font: 'Agu Display', serif;
// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;