@import 'variables';
@import 'mixins';
@import 'base';

nav.navbar{
    width: 100%;
    display: flex;
    height: 76px;
   
    box-sizing: border-box;
    // background: #11061c;
    background: transparent;
    padding: 0 1.2rem;
    justify-content: space-between;
    
    // top: 0;
    z-index: 223;
    .nav-logo{
        width: 20%;
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img{
            width: 2.6rem;
            
        }
        h3{
            font-size: $base-font-size * 1.7;
            font-weight: 600;
            color: $font-color;
            font-weight: bold;
            // font-family: 'Termina Test Regular';
            text-wrap: nowrap;
            letter-spacing: .03cm;
            margin: 0;

        }
    }
    .nav-content, .socials-action{
        width: 35%;
        
        display: flex;
        align-items: center;
        gap: .6rem;
       
        li{
            list-style: none;
            padding: 0 1rem;
            
            a{
                text-decoration: none;
                color: $font-color;
                font-weight:500;
                font-size: $base-font-size * 1.1;
                // font-family: 'Satoshi Medium';
                transition: .3s ease;
                letter-spacing: .03cm;
                text-wrap: nowrap;
                &:hover{
                    transition: .3s ease;
                    color: $primary-color;
                }
                &:active{
                    color: $primary-color;
                }
            }
        }
        
    }
    .socials-action{
        width: 35%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        .socials{
            
            width:fit-content;
            display: flex;
            align-items: center;
            justify-content: center;     
            gap: 1rem;
            position: absolute;
            right: 2%;

            
            a{
                text-decoration: none;
                &:nth-child(odd) i.bx:hover {
                    color: $primary-color;
                  }
                
                &:nth-child(even) i.bx:hover {
                    color: $secondary-color;
                }
                i.bx{
                    font-size: $base-font-size * 1.6;
                    color: $black;
                    
                }
                img{
                    width: $base-font-size * 1.7;
                }
            }
        }
        .extra{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 30%;
           
            a.btn{
                @include button-style($white, white);
                min-width: 10rem;
                font-weight: 600 !important;
                border: 1px solid $primary-color;
                background: $primary-color;
                display: flex;
                align-self: center;
                justify-content: center;
                gap: .5rem;
                &:hover{
                    transition: .3s ease;
                    span{
                        animation: fade-in 2s ease;
                        
                        animation-fill-mode: forwards;
                    }
                    
                    img{
                        animation: move-right 1s ease;
                        animation-fill-mode: forwards;
                    }
                }
                @keyframes move-right {
                    0% {
                        transform: translateX(-100px);
                    }
                    100% {
                        transform: translateX(5px);
                    }
                }
                @keyframes fade-in {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                img{
                    
                    display: flex;
                    align-self: center;
                    height: 30px;
                    width: 30px;
                   
                }
            }
            .nav-trigger{
                display: none;
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        height: 10vh;
       
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.5rem;
        // justify-content: space-around;
        .nav-logo{
            
            width:fit-content;
            padding: .5rem;
            flex-direction: row;
            img{
                width: 4rem;
            }
            h3{
                font-size: $base-font-size * 1.5;
                word-wrap: nowrap;
                text-wrap: nowrap;
            }
        }
        .nav-content li, .nav-content .btn{
            display: none;
        }

        .nav-content{
            display: none;
            
        }
        .socials-action{
            width: fit-content;
            justify-content: flex-end;
            
            li{
                display: none;

            }
            .socials{
                display: none;
            }
            .extra{
                width:fit-content;
               

            }
        }
        .nav-trigger{
            width: 4rem;
            box-sizing: border-box;
            padding: .8rem;
            height: 4rem;
            
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.active{
                span{
                    border-radius: 5px;
                    width: 60%;
                    height: 10%;
                    background:$primary-color;
                    display: flex;
                    align-self: flex-end;
                    margin: .2rem;
                    transition: .4s ease;
                    &:nth-child(1){
                        width: 110%;
                        transform: rotate(41deg) translate(25%,80%);
                        
                    }
                    &:nth-child(2){
                        width: 75%;
                        transform: rotate(-40deg) translate(25%,-50%);
                        background: $primary-color;
                    }
                    &:nth-child(3){
                        width: 50%;
                        background: $primary-color;
                        transform: rotate(-41deg) translate(-45%,-345%);
                    }
                    
                }
            }
            span{
                border-radius: 5px;
                width: 60%;
                height: 10%;
                background: $primary-color;
                display: flex;
                align-self: flex-end;
                margin: .2rem;
                transition: .4s ease;
                position: relative;
                &:nth-child(1){
                    width: 100%;
                }
                &:nth-child(2){
                    width: 75%;
                    background: $secondary-color;
                   
                }
                &:nth-child(3){
                    width: 45%;
                    background: black;
                    
                }
                
            }
        }
    }
}
.sidebar{
        position:fixed;
        height: calc(100% - 10vh);
        width:60%;
        bottom: 0;
        right: -60%;
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition:all 0.5s ease;
        z-index: 999;
        
        &.active{
            right: 0;
        }
        .nav_list{
         
            width: fit-content;
            height: 70%;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            .btn{
                @include button-style($white, white);
                min-width: 10rem;
                font-weight: 600 !important;
                border: 1px solid $primary-color;
                background: $primary-color;
                font-size: $base-font-size * 1;
                padding:.5rem 1rem;
                display: flex;
                align-items: center;
                line-height: 40px;
                img{
                    width: 30px;
                }
            }
            li{
                list-style: none;
                transition: all .4s ease;
                
                a{
                    text-decoration: none;
                    color: $font-color;
                    transition: all .4s ease;
                    font-size: .95em;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    font-weight: 600;
                    &:hover{
                        color: $primary-color;
                    }
                    span{
                        color: $primary-color;
                    }
                }
                
                a.active{
                    color: $font-color;
                    font-weight: 600;
                }
            }
        }
        .socials{
            width: 100%;
            position: relative !important;
            margin-top: 20%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
           
            a{
                text-decoration: none;
                color: var(--text-color);
                transition: all .4s ease;
                i.bx{
                    font-size: 1.6em;
                }
                img{
                    width: 1.6em;
                }
                &:hover{
                    transform: translateY(-15%);
                    color: $primary-color;
                   
                }
            }
            a.active{
                color: $primary-color;
            }
        }

}

.main{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
   
    // padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Scrollbar styles */
    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the track (scroll area) */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Scrollbar thumb (the actual bar) */
        border-radius: 10px; /* Roundness of the scrollbar */
        border: 3px solid #f1f1f1; /* Padding around the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Darker color when hovering over the scrollbar */
    }

    .overlay{
        width: 97%;
        height: 100%;
        
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 20;
        &.side-actions-active{
            display: flex !important;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px) !important;
           
            
        }
    }
    .landingpage{
        
        width: 97%;
        height: fit-content;
        box-sizing: border-box;
        margin-bottom: 2rem;
        position: relative;
        overflow:hidden;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        .overlay-bg{
            width: 100%;
            height: 83vh;
            background: #00000060;
            
            z-index: 3;
            
            position: absolute;
        }
        video,img{
            width: 100%;
            height: 83vh;
            object-fit: cover;
            background-position: center;
            
            z-index: -1;
            box-sizing: border-box;
           
            top: 0;
            
            
        }
       
        .text-content{
            
            z-index: 4;
            position: absolute;
            bottom: 5%;
            width: 70%;
            height: fit-content;
            padding: 1.5%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: .5rem;
            border-radius: 10px;
            // background: #d3d3d37c;
           

            h1{
                color: $white;
                font-size: $base-font-size * 2.7;
                text-align: center;
                font-weight:700;
                text-transform: uppercase;
                // font-family:'Termina Test Heavy';
            }
            p{
                color: $white;
                font-size: $base-font-size * 1.15;
                font-weight: 500;
                width: 70%;
                text-align: center;
                margin-bottom: 1rem;
            }
           
            
            a.btn{
                @include button-style($white, white);
                min-width: 10rem;
                padding:0 $padding-base * 2;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                font-weight: 600 !important;
                border: 2px solid $primary-color;
                color: $white;
                background: $primary-color;
                font-size: $base-font-size * 1.3;
                border-radius: 5px;
                transition: .3s ease;
                flex-direction: row;
                &:hover{
                    background: #187227;
                    color: $white;
                    transition: .3s ease;
                }
                img{
                    width: 1.5rem !important;
                    height: 1.5rem;
                    z-index: 1;
                }
            }
        }


        @media (max-width: $breakpoint-mobile) {
            width: 93%;
           
            
            video{
                
                transform: translateX(0);
            }
            .text-content{
                width: 100%;                
                padding: 1rem;
                h1{
                    font-size: $base-font-size * 1.7;
                }
                p{
                    width: 100%;
                    font-size: $base-font-size * 1.1;
                }
                a.btn{
                    font-size: $base-font-size * 1;
                }
            }
        }
    }
    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3%;
        gap: 3rem;
        margin-bottom: 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        .about{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1.5rem;
            h2{
                font-size: $base-font-size * 2;
                font-weight: 700;
                font-family: 'Termina Test Demi';
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                gap: 1rem;
                color: black;
                img{
                    width: 3rem;

                }
            }
            p{
                font-size: $base-font-size * 1.1;
                font-weight: normal;
            }
            img.underline{
                width:12rem;
            }
        }
        .more-about{
            width: 100%;
            display: flex;
            padding: 2%;
            gap: 2rem;
            .vision, .philosophy{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 1.5rem;
                h2{
                    font-size: $base-font-size * 1.4;
                    font-weight: 700;
                    font-family: 'Termina Test Demi';
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    gap: 1rem;;
                    img{
                        width: 2.5rem;

                    }
                }
                p{
                    font-size: $base-font-size * 1.1;
                    font-weight: normal;
                }
                img.underline{
                    width:12rem;
                }
            }
            .vision h2{
                color: $secondary-color
            }
        }

        @media (max-width: $breakpoint-mobile) {
            padding: 1rem .5rem;
            gap: 1rem;
            img.underline{
                width: 9rem !important;
            }
            .about{
                width: 100%;
                padding: 1rem;
                h2{
                    font-size: $base-font-size * 1.75;
                    text-align: center;
                }
            }
            .more-about{
                gap: 3rem;
                flex-direction: column;
                .vision,.philosophy{
                    width: 100%;
                }
            }
        }
    }
    .projects-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 3rem 1rem;
        
        h2{
            font-size: $base-font-size * 2;
            font-weight: 700;
            text-transform: capitalize;
            font-family: 'Termina Test Demi';
            color: black;
            text-align: center;
        }
        p{
            text-align: center;
            span{
                font-weight: 700;
                color: $secondary-color;
            }
        }
        .project-cards{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
            padding: 2rem 0;
            .card{
                width: 90%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 2rem 1rem;
                transition: all .4s ease;

                &:hover{
                    // transform: translateY(-5%);
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                    transition: all .4s ease;
                }
                h3{
                    font-size: $base-font-size * 1.5;
                    font-weight: bold;
                    color:black ;
                    text-align:center ;
                    text-transform: capitalize;
                    font-family:'Termina Test Demi';
                    
                }
                .tags{
                    display: flex;
                    gap: 4rem;
                    
                    // width: 55%;
                    justify-content: space-around;
                    span{
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.753);
                        &:first-child {
                            text-decoration:underline;
                            text-underline-offset: .5rem;
                            // color: $primary-color;
                        }
                        // &:nth-child(2) {
                            
                        //     color: $secondary-color;
                        // }
                        // &:nth-child(3) {
                        //     // text-decoration:underline;
                        //     // text-underline-offset: .5rem;
                        //     // color: $primary-color;
                        // }
                    }
                }
                .layout{
                    display: flex;
                    padding: 3%;
                    
                    justify-content: space-evenly;
                    .left{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        // border-radius: 15px;
                        // border-right: 1px solid black;
                        p{
                            font-size: $base-font-size * 2;
                            font-weight: normal;
                        }
                        .action-btns{
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            padding: 1rem 0;
                            a{
                                color: black;
                                font-weight: normal;
                                text-underline-offset: .3rem;
                                transition: all .4s ease;                                
                                &:nth-child(2){
                                    text-decoration: none;
                                    background: black;
                                    color: white;
                                    border-radius: 20px 20px;
                                    padding: .5rem 1rem;
                                    &:hover{
                                        background: rgba(0, 0, 0, 0.86);
                                    }

                                }
                                &:first-child:hover{
                                    color: rgba(0, 0, 0, 0.656);
                                    
                                }
                            }
                        }

                    }
                    .middle{
                        background: rgba(0, 0, 0, 0.699);
                        width: .05rem;
                        
                        display: flex;
                        
                    }
                    .right{
                        width: 45%;
                        // border-radius: 15px;
                        
                        box-sizing: border-box;
                        overflow: hidden;
                        img{
                            width: 100%;
                            border-radius: 15px;
                        }

                    }

                }
               
            }
        }
        @media (max-width: $breakpoint-mobile) {
            h2{
                font-size: $base-font-size * 1.75;
            }
            .project-cards{
                .card{
                    width: 100%;
                    h3{
                        font-size: $base-font-size * 1.3;
                        
                    }
                    .tags{
                        gap: .5rem;
                        width: 100%;
                        justify-content: space-between;
                        span{
                            font-size: $base-font-size * 0.7;
                            word-wrap: nowrap;
                        }
                    }
                    .layout{
                        flex-direction: column-reverse;
                        gap: 1rem;
                        .left, .right{
                            width: 100%;
                        }
                        .middle{
                            width: 100%;
                            height: .03rem;
                        }
                    }
                }
            }
            
        }
    }
    .contact-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1rem;
        gap: 2rem;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        h2{
            font-size: $base-font-size * 2;
            font-weight: 700;
            text-transform: capitalize;
            font-family: 'Termina Test Demi';
            color: black;
            text-align: center;
        }
        p{
            text-align: center;
            font-weight: normal;
            font-size: $base-font-size * 1.1;
        }
        .contact{

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .contact-form{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                padding: 1rem 0;
                form{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                   
                    input, textarea{
                        width: 100%;
                        padding: .8rem;
                        border-radius: 5px;
                        border: 1px solid $primary-color;
                        font-size: $base-font-size;
                        font-weight: normal;
                        color: black;
                        background-color: transparent;
                        transition: .4s ease;
                        &::placeholder{
                            font-size: $base-font-size;
                            letter-spacing: .02cm;
                        }
                        &:focus{
                            transition: .4s ease;
                            outline: 1px solid $primary-color;
                            // border:2px solid $primary-color ;
                            

                        }
                    }

                    button.btn{
                        @include button-style($white, white);
                        min-width: 8rem;
                        border: none;
                        text-align: center;
                        padding:.3rem .5rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: capitalize;
                        gap: 1rem;
                        font-weight: 600 !important;
                        border-radius: 5px;
                        background:$primary-color ;
                        color:$white ;
                        font-size: $base-font-size * 1.4;
                        img{
                            width: 1.5rem;
                        }
                    }
                }
            }   
        }

        @media (max-width: $breakpoint-mobile) {
            gap: .6rem;
            .contact {
                .contact-form{
                    width: 100% !important;
                    button.btn{
                        font-size: $base-font-size !important;
                    }
                }
            }
        }
    }
}